---
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { frontmatter } = Astro.props;
const formattedPubDate = (new Date(frontmatter.pubDate)).toISOString().split('T')[0]
---

<BaseLayout pageTitle={frontmatter.title}>

    <p><em>{frontmatter.description}</em></p>
    <p>{t('written_by')} {frontmatter.author}</p>
    <p>{t('published_on')}: {formattedPubDate}</p>
    <img class="mb-3" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <slot />

    <div class="row row-cols-auto pt-2 ps-2">
        {frontmatter.tags.map((tag) => 
            <p class="col border rounded px-3 py-2 mx-1"><a class="text-decoration-none" href={tag}>{tag}</a></p>
        )}
    </div>

</BaseLayout>
