---
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { frontmatter } = Astro.props;
const formattedPubDate = (new Date(frontmatter.pubDate)).toISOString().split('T')[0]
---

<BaseLayout pageTitle={frontmatter.title}>

    <p><em>{frontmatter.description}</em></p>
    <p>{t('written_by')} {frontmatter.author}</p>
    <p>{t('published_on')}: {formattedPubDate}</p>
    <img class="my-5" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <slot />

    <div class="flex flex-wrap space-x-2 space-y-2 my-5">
        {frontmatter.tags.map((tag) => 
            <p class="border border-gray-500 rounded-xl px-4 py-2">
                <a class="text-primary dark:text-primaryDark" href={`../tags/${tag}`}>{tag}</a>
            </p>
        )}
    </div>

</BaseLayout>
